body {
  margin: 0;
  padding: 0;
  font-family: 'Courier', monospace;
}

#container {
  width: 800px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  align-items: center;
  justify-content: left;
}

.byte {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0;
}

.bit {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background: white;
  border-radius: 25px;
}

.bit.toggle {
  background-color: red;
}

.operators {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
}

.operators button {
  width: 60%;
  background-color: yellow;
  border: 1px solid black;
}

.operators button:active {
  background-color:pink;
}
